[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_allowed_packet=64M
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
innodb_file_per_table=1
innodb_buffer_pool_size=256M
default_authentication_plugin=mysql_native_password